{% extends 'base.html' %}

{% block head %}
<h1>Animations for Quantum Mechanics</h1>
<h2>These are some animations of different 
    initial probability distributions evolving under the free Schrödinger equation. </h2>

<div class="video-container">
    <div class="video">
        <div class="video-title">
            <h2>Free Schrödinger Evolution of a box distrubution</h2>
        </div>
        <video controls width="100%" height="auto">
            <source src="https://www.math.uni-tuebingen.de/qanim/static/movies/anifile/box.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
    </div>
    <div class="video">
        <div class="video-title">
            <h2>Free Schrödinger Evolution of 2 box distrubutions</h2>
        </div>
        <video controls width="100%" height="auto">
            <source src="https://www.math.uni-tuebingen.de/qanim/static/movies/anifile/2boxes.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
    </div>
{% endblock %}


{% block body %}


{% endblock %}