<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://www.math.uni-tuebingen.de/qanim/static/css/main.css">
    


    {% block head %}{% endblock %}
</head>
<body>

    <img src="https://www.math.uni-tuebingen.de/qanim/static/images/UniLogo.png" alt="University Logo" id="logo">
    
    <a class="go-to-home" href="https://www.math.uni-tuebingen.de/qanim">Home</a>
    
    {% block body %}{% endblock %}
</body>
</html>

