<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale = 1.0">
    <meta http-equiv="X-UA-Compatable" content="ie=edge">
    <title>Animations of Quantum Mechanical Processes</title>
</head>
<body>
    <h1>Animations of Quantum Mechanical Processes</h1>
    <p>This website is designed to give students studying the mathematical Quantum Theory course a visual understanding of what they are studying.</p>
    <video controls>
        <source src="box.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</body>
</html>
